<h1 class='text-success'>Listing students</h1>
<%= form_tag students_export_path(format: 'csv'), method: :post do %>
<table id="students" class="cell-border stripe">
  <thead>
    <tr>
      <th>Name</th>
      <th>Register no</th>
      <th>Maths</th>
      <th>Science</th>
    </tr>
  </thead>
  <thead>
    <th><input type="text" id="search-name" data-column="0" placeholder="Search name"></th>
    <th><input type="text" id="search-register-no" data-column="1" placeholder="Search register number"></th>
    <th><input type="text" id="search-maths" data-column="2" placeholder="Search marks"></th>
    <th><input type="text" id="search-science" data-column="3" placeholder="Search marks"></th>
  </thead>

</table>
 <%= submit_tag "Export Selected Rows" %>
<% end %>
<br>

<%= link_to 'New Student', new_student_path %>



<script>
  $(document).ready( function () {
    var table = $('#students').DataTable( {
      
      dom: 'Bfrtip',
      buttons: [
        'copy', 'excel', 'pdf', 'print'
      ],
      columnDefs: [
        {
          "targets": '_all',
          "className": "dt-center"
        }
      ], 
      serverSide: true,
      processing: true,
      ajax: {
        url: '/students/search',
        type: 'POST',
        data: function(d) {
          var searchValues = {
            name: $('#search-name').val(),
            register_no: $('#search-register-no').val(),
            maths: $('#search-maths').val(),
            science: $('#search-science').val()
          };
        var searchColumns = Object.keys(searchValues).filter(function(key) {
          return searchValues[key] !== '';
        });
        d.columns = searchColumns.map(function(column) {
          return { data: column, search: { value: searchValues[column] } };
        });
      }
      } ,
      columns: [
        { 'name': 'name' },
        { 'name': 'register_no' },
        { 'name': 'maths' },
        { 'name': 'science' }
      ]
    });
 
    $('#search-name, #search-register-no, #search-maths, #search-science' ).on('keyup', function() {
      var columnNumber = $(this).data('column');
      console.log(columnNumber);
      table.column(columnNumber).search(this.value).draw();
    });

    $('form').on('submit', function() {
      var selected = $('#students input[type="checkbox"]:checked').map(function() {
        return $(this).val();
      }).get().join(',');
      $(this).attr('action', $(this).attr('action') + '?selected=' + selected);
    });
  });
</script>

